.menu-container {
  padding: 48px 83px 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  
  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__item-social {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
      border-right: 0px;
      padding-right: 0px;
    }

    &:first-child {
      padding-left: 0px;
    }
  }

  &__link {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    transition: color var(--primary-translate);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contacts {
    margin-top:  auto;
    margin-bottom: 64px;
  }

  &__social {
    display: flex;
  }
}

.no-active {
  color: var(--primary-text-color) ;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition: color var(--primary-translate);

    

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

  @media screen and (min-width:480px) {
    font-size: 24px;
  }
}

.contact__link {
  color: var(--accent-color);
  font-family: 'Roboto';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;

  @media screen and (min-width:480px) {
    font-size: 34px;
  }
   

  
}

.link-social {
  color: var(--accent-color);
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.22; 
  letter-spacing: 0.36px;

  @media screen and (min-width:480px) {
    font-size: 18px;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  cursor: pointer;
  
       
  @media screen and (min-width:768px) {
      display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  // color: #fff;
}

.actv {
  color: var(--accent-color);
}

.close-svg {
  transition: fill var(--primary-translate);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// .mobile-menu {
//     padding: 0;
//     margin: 0;
//     list-style: none;
//   }